{{!--about us start--}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your knowledge with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="image/image5.jpg" alt="herosection_image">
            </figure>
          </div>
          
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-start align-items-center flex-column">
            <h1>THE EXPERT IN ANYTHINGS</h1>
            <H1>ONCE WAS A BEGINNER</H1>
            
            <p> <span class="bold-style">Study HARD</span> no matter if it seems impossible, no matter if it takes times just remember that the feeling of success is the best things in entire world</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{!--about us end--}}