    {{!--articlesS start--}}
    <div class="container-fluid mt-5 about-style" id="articlesid">
        <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Articles</h1>
            <p class="text-center sub-heading">Let start learning</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO" alt="">
                            </div>
                            <h4>Articles 1</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO" alt="">
                            </div>
                            <h4>Articles 1</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO" alt="">
                            </div>
                            <h4>Articles 1</h4>
                        </div>
                    </div>
                </div> 
        </div>
      </div>
    </div>
  </div>
            
    {{!--contents end--}}